@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #1e1e1e;  
    border-radius: 14px;
  }

  ::-webkit-scrollbar-thumb {
    background: #4b4b4b;  
    border-radius: 14px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #666666;  
  }

  
  * {
    scrollbar-width: thin;
    scrollbar-color: #4b4b4b #1e1e1e;
  }
}